<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#212529">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/odometer@0.4.8/odometer.min.js"
          integrity="sha256-65R1G5irU1VT+k8L4coqgd3saSvO/Wufson/w+v2Idw=" crossorigin="anonymous"></script>
    <title>{{.}}</title>
    <style>
        body, ul, li, td, th, .btn {
            color: #e9e9e9 !important;
        }

        a {
            text-decoration: none;
            color: #d6e4a2;
        }

        a:hover {
            color: #ced6e0;
        }

        body {
            background-color: #1A202C;
        }


        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-corner {
            background: rgba(0, 0, 0, 0);
        }

        ::-webkit-scrollbar-thumb {
            background: #6A6B6D;
            border-radius: 10px;
        }


        table > tbody > tr:nth-of-type(odd) {
            color: whitesmoke !important;
            background-color: #2C313D;
        }

        table > tbody > tr:nth-of-type(even) {
            color: whitesmoke !important;
            background-color: #373C47;
        }

        .bg-color-black {
            background-color: #2C313D;
        }

        .bg-hover:hover {
            background-color: #373C47;
            color: whitesmoke;
        }

        .bg-color-red {
            background-color: #b33939 !important;
        }

        .bg-color-green {
            background-color: #218c74 !important;
        }

        .returns-tbl td, .returns-tbl th {
            border-bottom: none;
            border-right: 1px solid white;
        }

        .returns-tbl td:last-child, .returns-tbl th:last-child {
            border-right: 0;
        }

        .returns-tbl thead {
            border-bottom: 1px solid white;
        }

        .leaderboard tbody {
            counter-reset: rowNumber;
        }

        .leaderboard tr {
            counter-increment: rowNumber;
        }

        .leaderboard tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }

        #chart .btn:focus {
            /* chart time buttons do not focus off in macOS */
            outline: none;
            box-shadow: none;
        }

        .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            position: relative;
          }
          .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            position: relative;
          }
          .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            visibility: hidden;
          }
          .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
            text-align: left;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
          }
          .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
            display: block;
          }
          .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
            display: block;
            -webkit-backface-visibility: hidden;
          }
          .odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
            display: block;
            -webkit-transform: translateZ(0);
          }
          .odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
            position: absolute;
          }
          .odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
            -webkit-transition: -webkit-transform 2s;
            -moz-transition: -moz-transform 2s;
            -ms-transition: -ms-transform 2s;
            -o-transition: -o-transform 2s;
            transition: transform 2s;
          }
          .odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
          }
          .odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
          }
          .odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
            -webkit-transition: -webkit-transform 2s;
            -moz-transition: -moz-transform 2s;
            -ms-transition: -ms-transform 2s;
            -o-transition: -o-transform 2s;
            transition: transform 2s;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
          }
          
          .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
            line-height: 1.1em;
          }
          .odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
            text-align: center;
          }
    </style>
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" rel="home" class="navbar-brand h1">gRPCOIN</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/join">Join via API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/grpcoin/grpcoin" target="_blank">Source</a>
            </li>
        </ul>
    </div>
</nav>
