<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{{.}}</title>
    <style>
        body, ul, li, td, th, .btn {
            color: #e9e9e9 !important;
        }

        a {
            text-decoration: none;
            color: #b1bad6;
        }

        a:hover {
            color: #ced6e0;
        }

        body {
            background-color: #1A202C;
        }


        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-corner {
            background: rgba(0, 0, 0, 0);
        }

        ::-webkit-scrollbar-thumb {
            background: #6A6B6D;
            border-radius: 10px;
        }


        table > tbody > tr:nth-of-type(odd) {
            color: whitesmoke !important;
            background-color: #2C313D;
        }

        table > tbody > tr:nth-of-type(even) {
            color: whitesmoke !important;
            background-color: #373C47;
        }

        .bg-color-black {
            background-color: #2C313D;
        }

        .bg-hover:hover {
            background-color: #373C47;
            color: whitesmoke;
        }

        .bg-color-red {
            background-color: #b33939 !important;
        }

        .bg-color-green {
            background-color: #218c74 !important;
        }

        .returns-tbl td, .returns-tbl th {
            border-bottom: none;
            border-right: 1px solid white;
        }

        .returns-tbl td:last-child, .returns-tbl th:last-child {
            border-right: 0;
        }

        .returns-tbl thead {
            border-bottom: 1px solid white;
        }

        .leaderboard tbody {
            counter-reset: rowNumber;
        }

        .leaderboard tr {
            counter-increment: rowNumber;
        }

        .leaderboard tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }

        #chart .btn:focus {
            /* chart time buttons do not focus off in macOS */
            outline: none;
            box-shadow: none;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" rel="home" class="navbar-brand h1">gRPCOIN</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/join">Join via API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/grpcoin/grpcoin" target="_blank">Source</a>
            </li>
        </ul>
    </div>
</nav>
