{{- /*gotype:github.com/grpcoin/grpcoin/frontend.LeaderboardHandlerData*/ -}}
{{ template "header.tmpl" "Leaderboard" }}
<main class="container">
    <div class="text-center">
        <p class="lead display-2 fw-lighter">Leaderboard</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <span>24h Trade Volume</span>
            <h5 class="display-6">${{fmtPriceFloat .TotalTradeVolume}}</h5>
        </div>
        <div class="col-4 text-center">
            <span>24h Trade Count</span>
            <h5 class="display-6">{{comma .TotalTradeCount}}</h5>
        </div>
    </div>
    <div class="card mx-auto bg-color-black col-12 col-lg-6 p-0">
        <div class="card-body p-1 m-0">
            <table class="table table-borderless table-hover m-0 leaderboard">
                <thead class="card-header">
                <tr>
                    <th scope="col" class="p-3 fs-5 text-center">#</th>
                    <th scope="col" class="p-3 fs-5">Name</th>
                    <th scope="col" class="p-3 fs-5 text-center">Portfolio Value</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Users }}
                <tr class="position-relative">
                    <td class="text-center"></td>
                    <td>
                        {{ with (profilePic .User.ID) }}
                            <img src="{{.}}" width="24" height="auto"/>
                        {{ end }}
                        <a href="/user/{{.User.ID}}">
                            {{.User.DisplayName}}</a>
                    </td>
                    <td class="text-center">
                        ${{fmtPrice .TotalPortfolioValue}}
                    </td>
                    {{ end }}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{{ template "footer.tmpl" }}
